@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/Fira_sans/FiraSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Fira_sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Fira_sans/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Fira_sans/FiraSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Lobster_Two/LobsterTwo-Italic.ttf') format('truetype');
}

html {
  body {
    font-family: 'Fira Sans';
    font-weight: 500;
    color: #292929;
  }
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
}
a {
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
}